<!DOCTYPE HTML>

<h1>Création d'un nouveau post</h1>


<form ng-submit="submit()" ng-controller="NewPostController" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="row">
        <div class="large-8 columns">
            <label>Titre :
            <input ng-model="form.title" type="text"/>
            </label>
        </div>

        <div class="large-4 columns">
            <label>Catégorie :
                <select ng-model="form.categoryId" name="category_id">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">1
                    </option>
                </select>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <label>Contenu :
                <textarea ng-model="form.content"></textarea>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <input type="submit" id="submit" value="Envoyer" class="button succes"/>
            <input type="button" ng-click="reset()" value="Réinitialiser" class="button alert"/>
        </div>
    </div>
</form>