<!DOCTYPE HTML>

<h1>Création d'un nouveau post</h1>


<form ng-submit="submit()" ng-controller="NewPostController" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="row">
        <div class="large-12 columns">
            <label>Titre :
            <input ng-model="form.title" type="text"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <label>Catégorie :
                <select ng-model="form.categoryId" name="category_id">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">1
                    </option>
                </select>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <label>Content :
                <input ng-model="form.content" type="text"/>
            </label>
        </div>
    </div>

    <p><input type="submit" id="submit" value="Envoyer"/> <input type="reset" value="Réinitialiser"/></p>
</form>