<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<div th:fragment="post_item">
    <h2 th:text="${post.title}" th:id="${post.id}">Un simple post</h2>

    <div>Catégorie :
        <div class="inline" th:text="${post.categoryName}"></div>
    </div>

    <p th:text="${post.content}">Blablabla blablabla</p>
</div>


<div th:id="${post.id}" class="button" ng-click="addNewPostComment($event)">Ajouter un nouveau commentaire</div>

<table>
    <tbody>
    <!--@thymesVar id="comments" type="Comment[]"-->
    <tr th:each="comment : ${comments}" th:include="comment/comment_item :: comment_item">
    </tr>
    </tbody>
</table>


</html>