<div class="large-9 columns">
    <div class="button expand" id="add_post_button_ng" ng-click="addNewPostForm()">Ajouter un nouveau post</div>

    <table xmlns:th="http://www.w3.org/1999/xhtml">
        <tbody role="content">
        <tr th:each="post : ${posts}" th:include="post/post_item :: post_item">
        </tr>
        </tbody>
    </table>
</div>

<div class="large-3 columns">
    <h5>Présentation</h5>

    <p>Bienvenue sur notre blog. L'actualité vue par des étudiants de l'ESIEA.</p>
</div>