<form ng-submit="submit($event)" ng-controller="NewUserController">

    <div class="row">
        <div class="large-12 columns">
            <label>Pseudo :
                <input ng-model="form.username" type="text"/>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <input type="submit" id="submit" value="Envoyer" class="button succes"/>
            <input type="reset" value="Réinitialiser" class="button alert"/>
        </div>
    </div>

</form>