
input:not([type]), input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"],
input[type="email"], input[type="number"], input[type="search"], input[type="tel"],
input[type="time"], input[type="url"], input[type="color"], textarea {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

textarea {
    max-width: 100%;
}